name: Build

on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build blog job.
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true # Checkout private submodules(themes or something else).
    - name: Cache node modules
      uses: actions/cache@v1
      id: cache
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: npm install
    - name: Build static files
      run: |
        sed -i "s/__GITHUB_TOKEN__/${{ secrets.GITHUB_TOKEN }}/g" _config.yml
        sed -i "s/__GITHUB_USERNAME__/${{ secrets.USERNAME }}/g" _config.yml
        sed -i "s/__GITHUB_EMAIL__/${{ secrets.EMAIL }}/g" _config.yml
        npm run build
